/* label focus color */

.input-field input[type=text]:focus + label {
    color: #673ab7;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #673ab7;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.ui-autocomplete {
@extend . z-depth-2;
    background-color: #fff;
    /* To prevent li elements go to the end of the screen*/
    position: fixed;
}

.ui-autocomplete li {
    z-index: 2;
    font-size: 1.1rem;
    color: #311B92;
    line-height: 1.1rem;
    padding: 1rem 1rem;
}

.ui-autocomplete li:hover {
    z-index: 2;
    background-color: #D1C4E9;
    font-size: 1.1rem;
    color: #311B92;
    line-height: 1.1rem;
    padding: 1rem 1rem;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    z-index: 2;
    background-color: #D1C4E9;
    font-size: 1.1rem;
    color: #311B92;
    line-height: 1.1rem;
    padding: 1rem 1rem;
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -9999px;
}

/*@font-face {*/
/*font-family: "Material-Design-Icons";*/
/*src: url("material-design-icons/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("material-design-icons/Material-Design-Icons.woff2") format("woff2"), url("material-design-icons/Material-Design-Icons.woff") format("woff"), url("material-design-icons/Material-Design-Icons.ttf") format("truetype"), url("material-design-icons/Material-Design-Icons.svg#Material-Design-Icons") format("svg");*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*@font-face {*/
/*font-family: "Roboto";*/
/*src: url("../assets/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");*/
/*font-weight: 200;*/
/*}*/

/*@font-face {*/
/*font-family: "Roboto";*/
/*src: url("../assets/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");*/
/*font-weight: 300;*/
/*}*/

/*@font-face {*/
/*font-family: "Roboto";*/
/*src: url("../assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");*/
/*font-weight: 400;*/
/*}*/

/*@font-face {*/
/*font-family: "Roboto";*/
/*src: url("../assets/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");*/
/*font-weight: 500;*/
/*}*/

/*@font-face {*/
/*font-family: "Roboto";*/
/*src: url("../assets/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");*/
/*font-weight: 700;*/
/*}*/

.nav-pill-text {
    font-weight: bold;
}

.glyphicon {
    margin-right: 10px;
}

.panel-body {
    padding: 0px;
}

.panel-body table tr td {
    padding-left: 15px
}

.panel-body .table {
    margin-bottom: 0px;
}

.icon-block {
    padding: 0 15px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-flex-direction: column;
}

main {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

.collapsible-body ul li a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: inherit;
    line-height: 45px;
    padding: 0;
    margin: 0 1rem 0 2rem;
}

.side-nav li {
    float: none;
    padding: 0 0.1;
}

.collapsible-body ul li:hover,
.collapsible-body ul li.active {
    background-color: #9575cd;
}

.collapsible-body ul li:hover a,
.collapsible-body ul li.active a {
    color: #fff;
}

.tabs .tab a:hover {
    background-color: #ede7f6;
    font-weight: bold;
    color: #f9c9cb;
}

.tabs .indicator {
    background-color: #673ab7;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

h1 {
    font-family: 'PT Sans', Helvetica, sans-serif;
}

h2 {
    font-family: 'PT Sans', Helvetica, sans-serif;
}

h3 {
    font-family: 'PT Sans', Helvetica, sans-serif;
}

h4 {
    font-family: 'PT Sans', Helvetica, sans-serif;
}

h5 {
    font-family: 'PT Sans', Helvetica, sans-serif;
}

h5 .front-prompt {
    font-size: 1.3rem;
    margin: 0rem 0rem 0;
}

#navbar_logo {
    margin-top: 8%;
    margin-left: 5%;
    max-width: 168px;
}