#body_content {
    padding: 0 0;
    position: absolute;
}

#reference_nav_wrapper {
    margin-left: 5%;
}

#sidebar_left {
    margin-right: 1%;
}

#header_page_title {
    font-size: 1.5em;
}

#language_label {
    font-size: 1.3em;
}

#sidebar_reg {
    margin-top: 0.3%;
    margin-left: 0.8%;
    position: absolute;
    min-height: 10%;
}

#content_pos {
    position: relative;
    padding-left: 4%;
}

#language_list_mobile {
    padding-top: 3%;
    padding-bottom: 3%;
}

.list_item {
    font-size: 0.93em;
}

.sub_item {
    font-size: 0.90em;
}

.mobile_list_item {
    margin-top: 10px;
    margin-bottom: 10x;
}

#body_reference {
    height: auto;
}

#carbonads {
    display: block;
    overflow: hidden;
    line-height: 1.5;
    max-width: 130px;
}

#carbonads span {
    display: block;
    overflow: hidden;
}

.carbon-img {
    display: block;
    margin: 0 auto 0.5em;
    text-align: left;
}

.carbon-text {
    display: block;
    text-align: left;
    padding-bottom: 0.5em;
    color: black;
    font-size: 11px;
}

.carbon-poweredby {
    display: block;
    text-align: left;
    font-size: 11px;
    color: #673ab7;
}
